<form [formGroup]="LoginFormgrp" (ngSubmit)="clickLogin()">
  <div class="mb-5 mt-3 text-center">
    <h1><b>Login</b></h1>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="usernametest">Username</label>
    <input
      type="text"
      id="username"
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="passwordtest">Password</label>
    <input
      type="password"
      formControlName="password"
      id="password"
      class="form-control"
      placeholder="Password"
    />
  </div>

  <div>
    <b class="text-danger">{{ error }}</b>
  </div>

  <div class="text-center pt-1 mb-5 pb-1">
    <button
      class="btn btn-primary btn-block fa-lg mb-3"
      type="submit"
      [disabled]="!LoginFormgrp.valid"
    >
      Login
    </button>
  </div>
</form>
